.GeralCRIARCONTA {
    width: 100%;
}

.cadastroCONTA {
    margin-top: -1.5%;
    background-image: url(./imgCRIARCONTA/bg-img.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #012169 ;
    height: 553px;
    padding-top: 7%;
}

.HeaderCRIARCONTA{
    width: 100%;
    height: 110px;
}

.HeaderCRIARCONTA img {
    width: 10%;
    margin-top: 10px;
    margin-left: 3%;
}

.GroupCRIARCONTA {
    background-color: white;
    width: 90%;
    height: 528px;
    margin-left: 4%;
    display: flex;
    gap:0%;
    border-radius: 8px;
}

.ImagemLateral img {
    width: 47%;
}


.InputCRIARCONTA {
    margin-left: -40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.InputCRIARCONTA h1 {
    font-size: 20px;
    font-weight: 400;
    color: #012169

}

.InputCRIARCONTA input {
    width: 15%;
    height: 40px;
    padding-left:10px ;
    padding-right:10px ;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 1px 3px 0px #9E9E9E;
    position: absolute;
    margin-top: -0.8%;
}


.InputCRIARCONTA2 {
    margin-left: 55%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.InputCRIARCONTA2 h1 {
    font-size: 20px;
    font-weight: 400;
    color: #012169

}

.InputCRIARCONTA2 input {
    width: 15%;
    height: 40px;
    padding-left:10px ;
    padding-right:10px ;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 1px 3px 0px #9E9E9E;
    position: absolute;
    margin-top: -0.8%;
}

.InputCRIARCONTA2 select {
    width: 15%;
    height: 40px;
    padding-left:10px ;
    padding-right:10px ;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 1px 3px 0px #9E9E9E;
    position: absolute;
    margin-top: -0.8%;
}


.ValueCriarContaPessoal {
    position: absolute;
    width: 16.5%;
    height: 42px;
    margin-top: 2.8%;
    border: none;
    border-radius:8px;
    font-size: 19px;
    color: white;
    background-color:  #1877F2;

}

.ValueCriarContaPessoal:hover {
    transform: scale(1.1);
    transition: .5s;
}

.foguete {
    position: absolute;
    margin-left: 22%;
    margin-top: 8%;
    width: 20%;
}

@media (max-width: 700px) {

    .cadastroCONTA {
        margin-top: -1.5%;
        background-image: url(./imgCRIARCONTA/bg-img2.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #012169 ;
        height:970px;
        padding-top: 7%;
    }
    

    .HeaderCRIARCONTA{
        align-items: center;
        text-align: center;
        width: 100%;
        height: 65px;
    }
    
    .HeaderCRIARCONTA img {
        width: 30%;
        margin-top: 0%;
       margin-left: 0%;
    }

    .GroupCRIARCONTA {
        background-color: white;
        width: 90%;
        height: 865px;
        margin-left: 4%;
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        gap:2%;
        
    }

    .ImagemLateral img {
       display: none;
    }

    .InputCRIARCONTA {
        margin-left: 8%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .InputCRIARCONTA h1 {
        font-size: 13px;
        font-weight: 400;
        color: #012169
    
    }

    .InputCRIARCONTA input {
        width: 70%;
        height: 30px;
        padding-left:10px ;
        padding-right:10px ;
        border-radius: 8px;
        border: none;
        box-shadow: 0px 1px 3px 0px #9E9E9E;
        position: absolute;
        margin-top: -0.8%;
    }

    .InputCRIARCONTA2 {
        margin-left: 8%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .InputCRIARCONTA2 h1 {
        font-size: 13px;
        font-weight: 400;
        color: #012169
    
    }

    .InputCRIARCONTA2 input {
        width: 70%;
        height: 30px;
        padding-left:10px ;
        padding-right:10px ;
        border-radius: 8px;
        border: none;
        box-shadow: 0px 1px 3px 0px #9E9E9E;
        position: absolute;
        margin-top: -0.8%;
    }

    .InputCRIARCONTA2 select {
        width: 70%;
        height: 30px;
        padding-left:10px ;
        padding-right:10px ;
        border-radius: 8px;
        border: none;
        box-shadow: 0px 1px 3px 0px #9E9E9E;
        position: absolute;
        margin-top: -0.8%;
    }


    .ValueCriarContaPessoal {
        position: absolute;
        width: 75%;
        height: 35px;
        margin-top: 8.5%;
        border: none;
        border-radius:8px;
        font-size: 19px;
        color: white;
        background-color:  #1877F2;
    
    }
}
